<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleVersion</key>
  <string>0.0.8</string>
  <key>CFBundleShortVersionString</key>
  <string>0.0.8</string>
  <key>CFBundleIdentifier</key>
  <string>org.ky-concept.en-ky-dictionary</string>
  <key>CFBundleDisplayName</key>
  <string>Англисче-кыргызча сөздүк</string>
  <key>CFBundleName</key>
  <string>Англисче-кыргызча сөздүк</string>
  <key>DCSDictionaryCopyright</key>
  <string>© TilFlow. CC BY-NC-SA 4.0</string>
  <key>DCSDictionaryManufacturerName</key>
  <string>TilFlow</string>
  <key>DCSDictionaryFrontMatterReferenceID</key>
  <string>front-matter</string>
</dict>
</plist>
