<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleVersion</key>
  <string>0.0.1</string>
  <key>CFBundleShortVersionString</key>
  <string>0.0.1</string>
  <key>CFBundleIdentifier</key>
  <string>org.ky-concept.ky-en-dictionary</string>
  <key>CFBundleDisplayName</key>
  <string>Kyrgyz-English Dictionary</string>
  <key>CFBundleName</key>
  <string>Kyrgyz-English Dictionary</string>
  <key>DCSDictionaryCopyright</key>
  <string>CC BY-SA 4.0. Source: Wiktionary (kaikki.org).</string>
  <key>DCSDictionaryManufacturerName</key>
  <string>ky-concept</string>
  <key>DCSDictionaryFrontMatterReferenceID</key>
  <string>front-matter</string>
</dict>
</plist>
